In [4]:
#Used Libraries
import pandas as pd

In [6]:
#Loading raw_data
raw_data=pd.read_csv("Amazon Sale Report.csv")
raw_data.head(1)

C:\Users\gayth\AppData\Local\Temp\ipykernel_18880\3237984913.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data=pd.read_csv("Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN

In [73]:
raw_data.columns
##I will remove: unnamed 22, Slaes Channel, currency looking for solutions, ship country looking for solutions, B2B transform to dummies (categorical valriables to 1 and 0)
##fulfilled-by I may remove it,

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [99]:
#1) Removing columns we don't need from dataframe
data=raw_data.drop(columns=['Unnamed: 22','index'])
data.columns

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [109]:
#2) reassigning columns names for better readibility
data.rename(columns={'Order ID':'Order_ID','Sales Channel ':'Sales_Channel','Courier Status':'Courier_Status'},inplace=True)
data.columns

Index(['Order_ID', 'Date', 'Status', 'Fulfilment', 'Sales_Channel',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier_Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [111]:
#3) Dealing with null values (NAN)
data.isnull().sum()

Order_ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales_Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier_Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
dtype: int64

In [113]:
data['Courier_Status'].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [141]:
###### For 'Courier_Status', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country' we will remove nan values
data.dropna(subset=['Courier_Status','ship-city', 'ship-state', 'ship-postal-code', 'ship-country'],inplace=True)
#Checking null values after action
L=['Courier_Status','ship-city', 'ship-state', 'ship-postal-code', 'ship-country']
for i in L:
    print(data[i].isnull().sum())

0
0
0
0
0

In [143]:
data.isnull().sum()

Order_ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales_Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier_Status            0
Qty                       0
currency               6057
Amount                 6057
ship-city                 0
ship-state                0
ship-postal-code          0
ship-country              0
promotion-ids         42276
B2B                       0
fulfilled-by          89678
dtype: int64

In [9]:
new_data["currency"].unique()

array(['INR', nan], dtype=object)

Data ELT still in progress...

In [18]:
i=raw_data.shape[0]//5
N=raw_data.shape[0]

In [26]:
j=0
n=0
while i <=N:
    df=raw_data[j:i]
    df.to_csv(f"Amazon Sale Report {n}.csv",index=False)
    n+=1
    j=i
    i+=raw_data.shape[0]//5