In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
raw_data=pd.read_csv("user_journey_raw.csv")
raw_data

,user_id,session_id,subscription_type,user_journey
0,1516,2980231,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
1,1516,2980248,Annual,Other-Sign up-Sign up-Sign up-Sign up-Sign up-...
2,1516,2992252,Annual,Log in-Log in-Log in-Log in-Log in-Log in
3,1516,3070491,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
4,1516,3709807,Annual,Log in-Log in-Log in-Log in-Log in-Log in-Log ...
...,...,...,...,...
9930,509095,4487613,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9931,509095,4842565,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9932,509095,4843103,Annual,Other-Other
9933,509095,4845316,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9934,509096,4845427,Annual,Other-Other-Other-Other-Other-Other-Coupon-Cou...

In [41]:
len(raw_data['session_id'].unique())

9935

In [37]:
def remove_page_duplicates(raw_data, target_column):
    def dedupe_consecutive(s):
        parts = s.split("-")
        result = [parts[0]]
        for p in parts[1:]:
            if p != result[-1]:
                result.append(p)
        return "-".join(result)

    data = raw_data.copy()
    data[target_column] = data[target_column].apply(dedupe_consecutive)
    return data

In [39]:
data=remove_page_duplicates(raw_data,'user_journey')
data

      user_id  session_id subscription_type           user_journey
0        1516     2980231            Annual  Homepage-Log in-Other
1        1516     2980248            Annual   Other-Sign up-Log in
2        1516     2992252            Annual                 Log in
3        1516     3070491            Annual        Homepage-Log in
4        1516     3709807            Annual                 Log in
...       ...         ...               ...                    ...
9930   509095     4487613            Annual                  Other
9931   509095     4842565            Annual                  Other
9932   509095     4843103            Annual                  Other
9933   509095     4845316            Annual                  Other
9934   509096     4845427            Annual           Other-Coupon

[9935 rows x 4 columns]

In [ ]:
def group_by(data,group_column='user_id',target_column='user_journey',sessions='All',count_from='last'):